/* Sidebar styles */
.sidebar {
  z-index: 60;
}

.overlay {
  z-index: 40;
}

.text-blue-300 {
  font-weight: bold;
  transition: color 0.3s ease;
}

/* HomeSection styles */
.pulse-text {
  animation: pulse 2s infinite;
  transition: opacity 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
}

/* ExpandableSection styles */
.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

/* ContentSection styles */
.hover\:border-gradient {
  border: 4px solid transparent;
  transition: border 0.5s ease-in-out;
}

.hover\:border-gradient:hover {
  border-image: linear-gradient(45deg, #f093fb, #f5576c, #f093fb, #f5576c) 1;
}

.cursor-pointer {
  cursor: pointer;
}

.hover\:scale-105 {
  transition: transform 0.2s ease-in-out;
}

.active\:scale-95 {
  transition: transform 0.1s ease-in-out;
}

/* Ensure spacing between cards */
.mb-6 {
  margin-bottom: 1.5rem;
}

/* Add shadow and rounded corner styling for the section */
section {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}
